

<div class="todolist">
  <input [(ngModel)]="currentInputText" type="text" placeholder=" Enter your task &#9998;">

  <button class="btn btn-primary btn-lg" (click)="addNewItem()">New</button>
</div>

<div class="itemList" *ngFor="let item of listOfItems; let i = index">
  <div [ngClass]="getClassName(item)">{{i + 1}}. {{item.name}}</div>
  <div class="item_2">
    <a (click)="toggleComplete(item)" href="#">&#10003;</a>
  </div>
  <div class="item_3">
    <a (click)="remove(item)" href="#">&#10005;</a>
  </div>
</div>


