.container {
  width: 1000px;
  height: auto;
  min-height: 2000px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,181,0.665703781512605) 44%, rgba(252,176,69,1) 100%);
}
