.info{
  padding: 50px;
  font-size: 30px;
  text-align: center;
  width: 900px;
  font-family: 'Cinzel', serif;
  margin:0 auto;
  line-height: 35px;
}

span{
  display: inline-block;
  transition-duration: 0.2s;
  cursor: default ;
}
span:hover{

  transform: scale(1.5);
}
